.project-wrapper {
  background-color: rgb(227, 224, 224);
  width: 100%;
  height: auto;
}

.home-page,
.about-page,
.projects-page {
  padding-top: 80px;
}

.project-title {
  padding: 4rem 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 2.5rem;
  }
  .underline {
    width: 75px;
    height: 5px;
    border-radius: 15px;
    background-color: #ff6242;
    margin: 10px 0 20px;
  }
  p:last-child {
    font-size: 1.1rem;
  }
}

.project-content {
  display: grid;
  grid-template-columns: 40vw 40vw;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 100%;
}

.project-item {
  margin-bottom: 75px;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 70vh;
    width: auto;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    h2 {
      margin: 2rem 0 1rem;
    }

    p {
      margin-bottom: 2rem;
      padding: 5px;
      text-align: justify;
    }
  }
}
